
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: rgb(105, 117, 136);

}

.section-one {
    background-color: rgb(105, 117, 136);
    margin-top: 0;
}



.ulList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 20%;
    font-size: 15px;
    float: left;
    padding-left: 0;
   
    right: 50%;
}

.listItem {
    margin-left: 0;
    color: white;
    margin-top: 8px;
}


.nav-logo{
    margin-top: 10px;
    margin-left: 30%;
    color: black;
    font-size: 10px;
    font-weight: bold;
   
  }

.donate {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 3px;
    border: none;
    height: 30px;
    color: rgb(105, 117, 136);
}

h1 {
    margin-top: 0;
    font-size: 55px;
    font-weight: 200;
}

.section-one-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
    color: white;
}

/* .sec-one-para {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
  text-align: center;

} */

.para-div {
    width: 70%;
    margin: 0 auto;
}

.place-holder {
    padding-bottom: 3%;
    font-size: 13px;
    color: rgb(64, 66, 79);
}

.watch-vid {
    height: 45px;
    margin-bottom: 40px;
}


/********************************** 
          SECTION TWO
***********************************/

 .section-two {
height: 400px;
} 

/* .para-div-two {
    width: 70%;
   
    margin: auto;
    text-align: center;
} */

.section-two-content {
    width: 60%;
    line-height: 20px;
  padding-top: 100px;
   
    margin: auto;
    text-align: center;
}

/************************************ 
             SECTION THREE
*************************************/

.section-three {
    background-color: rgb(214, 218, 222);
}

.section-three-boxes {
 
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxes {
    text-align: center;
   width: 480px;
   margin: 0 auto;

}

.section-three-placeholder {
    height: 200px;
    width: 380px;
    background-color: rgb(92, 105, 126);
    margin: 0 auto;
    margin-top: 5%;

}

.box-button {
    font-size: 11px;
    font-weight: 550;
    margin-bottom: 15%;
    margin-top: 25px;
    background-color: transparent;
    /* padding: 7px 25px; */
    height: 40px;
    width: 150px;
    border: 2px solid rgb(151, 151, 151);
    
}

/*************************************************** 
                 SECTION FOUR
***************************************************/

.section-four {
    height: 350px;
}

.section-four-content {
    width: 60%;
    line-height: 20px;
    margin: auto;
    text-align: center;
   margin-top: 150px;
   
}

.sec-four-button {
    background-color: transparent;
    border: 2px solid rgb(151, 151, 151);
    height: 40px;
    width: 150px;
    font-size: 11px;
    font-weight: 550;
}

.para-div-four {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

/*************************************************** 
                 SECTION FIVE FOOTER
***************************************************/


.section-five {
    background-color: rgb(22, 28, 37);
    color: white;
}




.container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
}

.classes {
    /* display: flex; */
    margin-top: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
   
}

a {
    color: white;
   text-decoration: none;
}

#contribute #sitemap {
display: block;
padding-top: 5px;
color: black !important;
}

.group-one {
    width: 100px;

}

.give {
    margin-top: 10px;
}

.icons {
    /* margin: 5px; */
    margin-bottom: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

h6, h5 {
    margin: 0;
    padding: 0;
}

hr {
    width: 93%;
    margin-bottom: 0;
}

.info-container {
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 93%;
    margin: auto;
}

.footer-logo {
    height: 40px;
}

